<!DOCTYPE HTML>
<html>
    <head>
    <link href="{{ url_for('static', filename='topaz.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" />

    <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highcharts.js') }}" type="text/javascript"></script>
    
    <script src="{{ url_for('static', filename='getstatus.js') }}" type="text/javascript"></script>

    <title>TOPAZ BI</title>        
    </head>
    <body>
        <H2>TOPAZ BURN IN SYSTEM MONITOR</H2>
        <div id="control_panel">
            <div class="btn-group">
            <button id="start" type="button" class="btn btn-primary">START</button>
            <button id="stop" type="button" class="btn btn-default">STOP</button>
            <button id="pause" type="button" class="btn btn-default">PAUSE</button>
            </div>
        </div>
        <div id="dut_main">

            <table class="table table-bordered">
                <tr>
                    <td>
                        <span>DUT1</span><span class="label label-warning">Testing</span>
                    </td>
                    <td>
                        <span>DUT2</span><span class="label label-warning">Testing</span>
                    </td>
                    <td>
                        <span>DUT3</span><span class="label label-success">Pass</span>
                    </td>
                    <td>
                        <span>DUT4</span><span class="label label-danger">Fail</span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="container1"></div>
    </body>
</html>
